:root {
	--blue: #007aff;
	--dark-blue: #1f3b6e;
	--green: #6cda6d;
	--light-blue: #e4efff;
	--yellow: #f9bb58;
	--light-yellow: #fff7e6;
	--red: #f96e86;
	--light-red: #feecea;
	--violet: #ad6ef9;
	--cyan: #6ed2f9;
	--black: #000;
	--dark-gray: #333;
	--gray: #666;
	--light-gray: #999;
	--gray-f7: #f7f7f7;
	--white: #fff;
	--title-font: 'Playfair Display', serif;
	--primary-font: 'Mulish', sans-serif;
}
